@model IEnumerable<SOA.Models.Order>

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    @Html.Partial("~/Views/Shared/_ManagerTabs.cshtml")
    <div class="jumbotron">
        <div class="media center-block">
            <div class="col-lg-12 ">
                <div class="badge">
                    <h2>Welcome Manager of Sample Components!</h2>
                </div>
                
                <h4>View your pending quote requests below or see tabs above for more choices. </h4>
            </div>            
        </div>

    </div> 

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">

                <div class="col-lg-8">
                    <span class="form-inline">
                        <strong>Show</strong>


                        <select class="form-control">
                            <option>Active Requests</option>
                            <option>Inactive Requests</option>
                            <option>Rejected Requests</option>
                        </select>

                        <strong>from</strong>

                        <select class="form-control">
                            <option>past 30 days</option>
                            <option>past 60 days</option>
                            <option>past 90 days</option>
                            <option>entire history</option>
                        </select>

                        <button type="button" class="btn btn-default">Go</button>
                    </span>
                </div>
                <div class="col-lg-4">

                </div>
            </div>

            <div class="panel-body">

                <div class="row">

                    @foreach (var item in Model)
            {
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-1">
                                        <ul style="list-style: none">
                                            <li>
                                                <strong>@Html.DisplayNameFor(model => model.Qty)</strong>
                                            </li>
                                            <li>
                                                @Html.DisplayFor(modelItem => item.Qty)
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-xs-2 ">
                                        <ul style="list-style: none">

                                            <li>
                                                <strong>@Html.DisplayNameFor(model => model.TargetPrice)</strong>
                                            </li>
                                            <li>
                                                @Html.DisplayFor(modelItem => item.TargetPrice)
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-4 ">
                                        <ul style="list-style: none">
                                            <li>
                                                <strong> @Html.DisplayNameFor(model => model.MfgPn)</strong>
                                            </li>
                                            <li>
                                                @Html.DisplayFor(modelItem => item.MfgPn)
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-1 col-xs-pull-1">
                                        <ul style="list-style: none">
                                            <li>
                                                <span><strong> @Html.DisplayNameFor(model => model.Mfg)</strong></span>
                                            </li>
                                            <li>
                                                @Html.DisplayFor(modelItem => item.Mfg)
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-xs-1">
                                        @Html.Partial("_QuoteButton", item)
                                    </div>
                                    <div class="col-xs-1">
                                        @Html.Partial("_RejectRFQButton", item)
                                    </div>
                                    <div class="col-lg-1">
                                        @Html.Partial("_SetRFQInactiveButton", item)

                                    </div>
                                    <div class="col-xs-1 ">
                                        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-xs-3">
                                        <ul style="list-style: none">
                                            <li>
                                                <span><strong> @Html.DisplayNameFor(model => model.RFQDate)</strong></span>
                                            </li>
                                            <li>
                                                @Html.DisplayFor(modelItem => item.RFQDate)
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-1">
                                        <ul style="list-style: none">
                                            <li>
                                                <span><strong>@Html.DisplayNameFor(model => model.Id)</strong></span>
                                            </li>
                                            <li>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-3">
                                        <ul style="list-style: none">
                                            <li>
                                                <span><strong> @Html.DisplayNameFor(model => model.InternalPn)</strong></span>
                                            </li>
                                            <li>
                                                @Html.DisplayFor(modelItem => item.InternalPn)
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-3">
                                        <ul style="list-style: none">
                                            <li>
                                                <span><strong> @Html.DisplayNameFor(model => model.Description)</strong></span>
                                            </li>
                                            <li>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-2">
                                        <ul style="list-style: none">
                                            <li>
                                                <strong> @Html.DisplayNameFor(model => model.Status)</strong>
                                            </li>
                                            <li>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </li>
                                        </ul>
                                    </div>

                                </div>



                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>



</div>