@model SOA.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TargetPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TargetPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MfgPn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MfgPn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mfg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mfg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InternalPn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InternalPn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RFQDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RFQDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuoteDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuoteDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseTerms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseTerms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateNeeded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateNeeded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipCourier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipCourier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipMethod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipMethod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlaceOrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlaceOrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SaleTerms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SaleTerms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShipDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShipDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrackNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrackNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateConfirmed)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
